#canvas {
	z-index: 0;
	position: fixed;
	left: 0px;
	top: 0px;
}

#info {
	z-index: 20;
	color: white;
	position: fixed;
	top: 5px;
	left: 5px;
}

input {
	z-index: 20;
	position: fixed;
	
	top: 130px;
	left: 5px;
}